*{
    font-family: Arial, Helvetica, sans-serif;
}
#booksStorePage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.topnav {
    background-color: white;
    color: #333;
    top: 0;
    width: 100%;
}

#navheader {
    display: inline;
    margin: 0;
}

.myLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#333;
    width: 100%;
}

.navLink {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.navLink :hover {
    background-color: #575757;
}

#bookstoreContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px; 
    padding: 20px;
    width: 80%;
}
#booklistShow{
    width: 70%;
}
#bookslist {
    width: 100%;
    border-collapse: collapse;
}
#bookslistTable{
    width: 100%;
}
.bookListTh{
    padding: 8px;
    text-align: left;
    background-color: #c0bbbb;
    cursor: pointer; 
}
.bookListTd
{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.sort-arrow {
    margin-left: 5px;
    font-size: 12px;
    vertical-align: middle;
}

.crud-options {
    display: flex;
    gap: 30px;
}

.crud-icon {
    cursor: pointer;
    font-size: 20px;
}

.crud-option:hover {
    color: red;
}
#listScroll{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
.scrollBtn{
    background-color: blueviolet;
    color: white;
    width: 20%;
   
}


/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 3; /* On top of other content */
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Sheer black background */
    backdrop-filter: blur(5px);
}

/* Modal Content Wrapper */
.modal-content-wrapper {
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 20px;
    padding: 10px;
    
}

/* The Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 10;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

